:root {
  --dark-grey: hsl(0, 0%, 7%);
  --light-grey: hsl(0, 0%, 12%);
  --dark-text-grey: hsl(231, 6%, 43%);
  --light-text-grey: hsl(240, 3%, 92%);
  --accent-pink: hsl(340, 62%, 53%);
  --darker-accent-pink: hsl(340, 62%, 23%);
}

